[Unit]
Description=Pushes iostat data into Zabbix

After=network-online.target

[Service]
Type=simple
User=lordievader
WorkingDirectory=/usr/lib/zabbix/externalscripts
ExecStart=/usr/lib/zabbix/externalscripts/iostat.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=network-online.target
